<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jdh_logistics</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
<!-- 	<filter> -->
<!-- 	    <filter-name>CrossFilter</filter-name> -->
<!-- 	    <filter-class>com.jdh.common.conf.CrossFilter</filter-class> -->
<!-- 	</filter> -->
	
<!-- 	<filter-mapping> -->
<!-- 	    <filter-name>CrossFilter</filter-name> -->
<!-- 	    <url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<description>spring listener</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<error-page>
		<error-code>403</error-code>
		<location>/403</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/405</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/500</location>
	</error-page>
</web-app>
