<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop  
 		http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<util:properties id="dbProp"
					 location="classpath*:${package.environment}/db.properties" />
	<util:properties id="configProp"
					 location="classpath*:${package.environment}/config.properties" />

	<!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
		<!--<property name="locations">-->
			<!--<list>-->
				<!--<value>classpath*:${package.environment}/db.properties</value>-->
				<!--<value>classpath*:${package.environment}/config.properties</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="ignoreUnresolvablePlaceholders" value="true"/>-->
	<!--</bean>-->

	<context:component-scan base-package="com.chen.*">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


</beans>
