<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop  
 		http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="springContextUtil" class="com.jdh.common.conf.SpringContextUtil"/>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"/>
	</bean>
	
	<!-- 初始化静态变量 -->
	<bean class="com.jdh.finance.util.CommonConst">
		<property name="domain" value="${domain}" />
		<property name="loginUrl" value="${loginUrl}" />
		<property name="homeUrl" value="${homeUrl}" />
		<property name="adminLoginUrl" value="${adminLoginUrl}" />
		<property name="adminUrl" value="${adminUrl}" />
		<property name="payUrl" value="${payUrl}" />
		<property name="smsUrl" value="${smsUrl}" />
		<property name="custid" value="${custid}" />
		<property name="compid" value="${compid}" />
		<property name="planid" value="${planid}" />
		<property name="kejieUrl" value="${kejieUrl}" />
		<property name="kejieRouteUrl" value="${kejieRouteUrl}" />
		<property name="kejieKey" value="${kejieKey}" />
		<property name="phpTopUrl" value="${phpTopUrl}" />
		<property name="phpFooterUrl" value="${phpFooterUrl}" />
		<property name="phpRooter" value="${phpRooter}" />
	</bean>

</beans>
